main {
  padding: 0;
}

body {
  margin: 0;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

* {
  box-sizing: inherit;
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #262626;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #757575;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #757575;
  }
}

ul,
ol {
  // doesn't do RTL, it break a sidebar
  padding-left: 15px;
  margin-bottom: 0;
  list-style-image: url("../../shared/img/circle.svg");
}

a {
  color: $active-gray;
  transition: all 0.3s;

  &:hover {
    text-decoration: none;
    color: $color-primary;
  }
}

img {
  width: 100%;
}

.btn {
  transition: none !important;
  &::before {
    transition: none !important;
  }
}
